<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>108307444463-jjccs3tltsk75vghd2h0pm1e32dgg8td.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.108307444463-jjccs3tltsk75vghd2h0pm1e32dgg8td</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>108307444463-9nbvqjvr9a4sjbskhb1k8ikhke7035q3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDFDrHuBYmF_weCGZOqDFMGZqJZQy57Y3I</string>
	<key>GCM_SENDER_ID</key>
	<string>108307444463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jaguarboys.travelbuddy</string>
	<key>PROJECT_ID</key>
	<string>travelbuddy-ca9ae</string>
	<key>STORAGE_BUCKET</key>
	<string>travelbuddy-ca9ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108307444463:ios:a36d294d8e6db3b9ed611a</string>
</dict>
</plist>